.link{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 600px;
        font-size: large;
        text-align: center
        ;
        
}
body{
        background-image: url(Pdf/images.jpg);
        background-repeat: no-repeat;
        background-blend-mode: lighten;
        background-position: 50%;
        background-size: 50%;
}

a:link {
        color: rgb(9, 9, 9);
        background-color: transparent;
        text-decoration: none;
      }
      a:visited {
        color: rgb(229, 11, 11);
        background-color: transparent;
        text-decoration: none;
      }
      a:hover {
        color: rgb(24, 190, 2);
        background-color: transparent;
        text-decoration: underline;
      }
      a:active {
        color: rgb(15, 22, 212);
        background-color: transparent;
        text-decoration: underline;
      }